* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

/* WAVE CODE */

.wave {
  height: 100vh;
  min-width: 100vw;
  transform: scaleY(-1);
  transform: rotate(180deg);
  background-color: aqua;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 65%,
    1% 64.95%,
    2% 64.8%,
    3% 64.6%,
    4% 64.3%,
    5% 63.9%,
    6% 63.45%,
    7% 62.9%,
    8% 62.25%,
    9% 61.55%,
    10% 60.8%,
    11% 59.95%,
    12% 59.05%,
    13% 58.1%,
    14% 57.1%,
    15% 56.05%,
    16% 55%,
    17% 53.9%,
    18% 52.8%,
    19% 51.65%,
    20% 50.5%,
    21% 49.35%,
    22% 48.2%,
    23% 47.05%,
    24% 45.9%,
    25% 44.8%,
    26% 43.75%,
    27% 42.75%,
    28% 41.75%,
    29% 40.8%,
    30% 39.9%,
    31% 39.1%,
    32% 38.35%,
    33% 37.65%,
    34% 37.05%,
    35% 36.5%,
    36% 36.05%,
    37% 35.65%,
    38% 35.35%,
    39% 35.15%,
    40% 35.05%,
    41% 35%,
    42% 35.05%,
    43% 35.2%,
    44% 35.45%,
    45% 35.75%,
    46% 36.15%,
    47% 36.65%,
    48% 37.2%,
    49% 37.85%,
    50% 38.55%,
    51% 39.35%,
    52% 40.2%,
    53% 41.1%,
    54% 42.05%,
    55% 43.05%,
    56% 44.1%,
    57% 45.15%,
    58% 46.3%,
    59% 47.4%,
    60% 48.55%,
    61% 49.7%,
    62% 50.85%,
    63% 52%,
    64% 53.15%,
    65% 54.25%,
    66% 55.35%,
    67% 56.4%,
    68% 57.45%,
    69% 58.4%,
    70% 59.35%,
    71% 60.2%,
    72% 61.05%,
    73% 61.8%,
    74% 62.45%,
    75% 63.05%,
    76% 63.6%,
    77% 64.05%,
    78% 64.4%,
    79% 64.7%,
    80% 64.85%,
    81% 65%,
    82% 65%,
    83% 64.9%,
    84% 64.75%,
    85% 64.5%,
    86% 64.2%,
    87% 63.75%,
    88% 63.25%,
    89% 62.7%,
    90% 62.05%,
    91% 61.3%,
    92% 60.5%,
    93% 59.65%,
    94% 58.75%,
    95% 57.8%,
    96% 56.8%,
    97% 55.75%,
    98% 54.65%,
    99% 53.55%,
    100% 52.4%
  );
  animation: slideIn 1s ease-in-out 1 alternate none;
}

@keyframes slideIn {
  0% {
    margin-top: 100%;
    opacity: 0;
  }
  100% {
    margin-top: 0%;
  }
}

.wave-exit {
  height: 100vh;
  min-width: 100vw;
  transform: scaleY(-1);
  transform: rotate(180deg);
  background-color: aqua;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 65%,
    1% 64.95%,
    2% 64.8%,
    3% 64.6%,
    4% 64.3%,
    5% 63.9%,
    6% 63.45%,
    7% 62.9%,
    8% 62.25%,
    9% 61.55%,
    10% 60.8%,
    11% 59.95%,
    12% 59.05%,
    13% 58.1%,
    14% 57.1%,
    15% 56.05%,
    16% 55%,
    17% 53.9%,
    18% 52.8%,
    19% 51.65%,
    20% 50.5%,
    21% 49.35%,
    22% 48.2%,
    23% 47.05%,
    24% 45.9%,
    25% 44.8%,
    26% 43.75%,
    27% 42.75%,
    28% 41.75%,
    29% 40.8%,
    30% 39.9%,
    31% 39.1%,
    32% 38.35%,
    33% 37.65%,
    34% 37.05%,
    35% 36.5%,
    36% 36.05%,
    37% 35.65%,
    38% 35.35%,
    39% 35.15%,
    40% 35.05%,
    41% 35%,
    42% 35.05%,
    43% 35.2%,
    44% 35.45%,
    45% 35.75%,
    46% 36.15%,
    47% 36.65%,
    48% 37.2%,
    49% 37.85%,
    50% 38.55%,
    51% 39.35%,
    52% 40.2%,
    53% 41.1%,
    54% 42.05%,
    55% 43.05%,
    56% 44.1%,
    57% 45.15%,
    58% 46.3%,
    59% 47.4%,
    60% 48.55%,
    61% 49.7%,
    62% 50.85%,
    63% 52%,
    64% 53.15%,
    65% 54.25%,
    66% 55.35%,
    67% 56.4%,
    68% 57.45%,
    69% 58.4%,
    70% 59.35%,
    71% 60.2%,
    72% 61.05%,
    73% 61.8%,
    74% 62.45%,
    75% 63.05%,
    76% 63.6%,
    77% 64.05%,
    78% 64.4%,
    79% 64.7%,
    80% 64.85%,
    81% 65%,
    82% 65%,
    83% 64.9%,
    84% 64.75%,
    85% 64.5%,
    86% 64.2%,
    87% 63.75%,
    88% 63.25%,
    89% 62.7%,
    90% 62.05%,
    91% 61.3%,
    92% 60.5%,
    93% 59.65%,
    94% 58.75%,
    95% 57.8%,
    96% 56.8%,
    97% 55.75%,
    98% 54.65%,
    99% 53.55%,
    100% 52.4%
  );
  animation: slideOut 1s ease-in-out 1 normal forwards;
}

@keyframes slideOut {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: 100%;
    opacity: 0;
  }
}

/* GRASS CODE */

.grass-entry {
  position: fixed;
  top: 50%;
  height: 50vh;
  width: 100%;
  opacity: 1;
  background-color: rgb(9, 255, 0);
  clip-path: polygon(
    0px 100%,
    0px 42%,
    5px 13%,
    11px 43%,
    17px 6%,
    24px 30%,
    28px 4%,
    33px 43%,
    37px 5%,
    43px 44%,
    47px 7%,
    51px 25%,
    58px 9%,
    62px 32%,
    69px 11%,
    76px 35%,
    81px 9%,
    85px 33%,
    92px 5%,
    96px 29%,
    102px 11%,
    108px 29%,
    113px 5%,
    118px 29%,
    122px 9%,
    129px 39%,
    136px 9%,
    142px 32%,
    147px 4%,
    151px 28%,
    156px 11%,
    161px 36%,
    168px 10%,
    172px 41%,
    179px 14%,
    185px 32%,
    191px 7%,
    196px 42%,
    201px 12%,
    207px 34%,
    211px 7%,
    216px 25%,
    223px 2%,
    227px 40%,
    232px 1%,
    237px 31%,
    243px 7%,
    247px 31%,
    252px 2%,
    259px 35%,
    263px 2%,
    269px 43%,
    273px 14%,
    280px 28%,
    285px 6%,
    292px 31%,
    298px 5%,
    304px 41%,
    310px 6%,
    314px 38%,
    319px 1%,
    323px 32%,
    327px 10%,
    334px 27%,
    338px 14%,
    345px 31%,
    352px 4%,
    356px 26%,
    361px 13%,
    365px 33%,
    369px 8%,
    374px 43%,
    381px 13%,
    385px 32%,
    389px 6%,
    393px 44%,
    399px 3%,
    405px 44%,
    412px 12%,
    418px 25%,
    422px 13%,
    427px 45%,
    433px 2%,
    439px 25%,
    443px 3%,
    449px 38%,
    454px 9%,
    459px 37%,
    463px 1%,
    468px 38%,
    474px 3%,
    479px 33%,
    484px 4%,
    488px 39%,
    492px 2%,
    497px 29%,
    504px 5%,
    509px 30%,
    514px 10%,
    518px 34%,
    522px 11%,
    527px 32%,
    533px 11%,
    537px 28%,
    543px 15%,
    547px 36%,
    552px 5%,
    559px 44%,
    566px 12%,
    571px 28%,
    578px 7%,
    582px 30%,
    586px 7%,
    590px 34%,
    594px 7%,
    599px 29%,
    606px 6%,
    613px 43%,
    617px 9%,
    622px 31%,
    628px 6%,
    634px 35%,
    641px 9%,
    645px 26%,
    652px 8%,
    658px 35%,
    662px 14%,
    667px 33%,
    672px 15%,
    677px 28%,
    682px 7%,
    686px 27%,
    693px 4%,
    698px 42%,
    702px 7%,
    706px 34%,
    711px 7%,
    716px 33%,
    721px 5%,
    726px 42%,
    733px 11%,
    740px 40%,
    744px 10%,
    751px 35%,
    755px 6%,
    760px 41%,
    766px 12%,
    773px 25%,
    780px 5%,
    784px 37%,
    788px 3%,
    795px 35%,
    799px 4%,
    806px 30%,
    812px 10%,
    817px 39%,
    821px 7%,
    828px 35%,
    833px 4%,
    837px 36%,
    841px 7%,
    845px 31%,
    849px 7%,
    856px 39%,
    861px 12%,
    866px 30%,
    872px 7%,
    878px 31%,
    883px 6%,
    887px 30%,
    891px 6%,
    898px 34%,
    904px 8%,
    908px 25%,
    914px 5%,
    920px 34%,
    925px 2%,
    931px 41%,
    938px 9%,
    943px 35%,
    949px 2%,
    955px 44%,
    960px 1%,
    967px 25%,
    974px 2%,
    981px 29%,
    988px 4%,
    995px 30%,
    1001px 7%,
    1007px 44%,
    1011px 1%,
    1017px 37%,
    1024px 6%,
    1029px 39%,
    1035px 3%,
    1041px 35%,
    1047px 7%,
    1053px 38%,
    1057px 8%,
    1061px 37%,
    1067px 8%,
    1071px 35%,
    1076px 15%,
    1080px 34%,
    1085px 14%,
    1090px 31%,
    1096px 10%,
    1103px 36%,
    1109px 15%,
    1116px 37%,
    1122px 7%,
    1128px 40%,
    1132px 6%,
    1136px 25%,
    1143px 11%,
    1147px 40%,
    1151px 7%,
    1156px 37%,
    1163px 3%,
    1169px 26%,
    1174px 5%,
    1178px 33%,
    1183px 4%,
    1187px 30%,
    1194px 4%,
    1198px 40%,
    1204px 2%,
    1209px 29%,
    1216px 5%,
    1221px 42%,
    1228px 13%,
    1235px 40%,
    1240px 5%,
    1244px 29%,
    1250px 13%,
    1254px 29%,
    1258px 7%,
    1262px 42%,
    1269px 5%,
    1273px 38%,
    1277px 9%,
    1284px 32%,
    1289px 7%,
    1295px 33%,
    1300px 8%,
    1307px 38%,
    1311px 2%,
    1315px 41%,
    1319px 3%,
    1323px 39%,
    1327px 13%,
    1333px 42%,
    1340px 3%,
    1347px 37%,
    1354px 2%,
    1359px 26%,
    1365px 11%,
    1371px 31%,
    1378px 6%,
    1383px 32%,
    1388px 2%,
    1394px 45%,
    1401px 6%,
    1407px 30%,
    1413px 6%,
    1420px 28%,
    1424px 9%,
    1431px 40%,
    1437px 9%,
    1444px 44%,
    1449px 11%,
    1454px 36%,
    1459px 8%,
    1465px 32%,
    1472px 15%,
    1477px 35%,
    1481px 13%,
    1487px 36%,
    1491px 14%,
    1497px 28%,
    1501px 6%,
    1507px 33%,
    1514px 5%,
    1520px 31%,
    1527px 7%,
    1533px 30%,
    1540px 3%,
    1546px 30%,
    1550px 11%,
    1556px 29%,
    1560px 6%,
    1564px 29%,
    1570px 1%,
    1577px 37%,
    1581px 4%,
    1585px 32%,
    1591px 9%,
    1595px 44%,
    1599px 11%,
    1606px 35%,
    100% 42%,
    100% 100%
  );
  animation: slideIn 1.2s ease-in-out 1 alternate none;
}

.grass-exit {
  position: fixed;
  top: 50%;
  height: 50vh;
  width: 100vw;
  opacity: 1;
  background-color: rgb(9, 255, 0);
  clip-path: polygon(
    0px 100%,
    0px 42%,
    5px 13%,
    11px 43%,
    17px 6%,
    24px 30%,
    28px 4%,
    33px 43%,
    37px 5%,
    43px 44%,
    47px 7%,
    51px 25%,
    58px 9%,
    62px 32%,
    69px 11%,
    76px 35%,
    81px 9%,
    85px 33%,
    92px 5%,
    96px 29%,
    102px 11%,
    108px 29%,
    113px 5%,
    118px 29%,
    122px 9%,
    129px 39%,
    136px 9%,
    142px 32%,
    147px 4%,
    151px 28%,
    156px 11%,
    161px 36%,
    168px 10%,
    172px 41%,
    179px 14%,
    185px 32%,
    191px 7%,
    196px 42%,
    201px 12%,
    207px 34%,
    211px 7%,
    216px 25%,
    223px 2%,
    227px 40%,
    232px 1%,
    237px 31%,
    243px 7%,
    247px 31%,
    252px 2%,
    259px 35%,
    263px 2%,
    269px 43%,
    273px 14%,
    280px 28%,
    285px 6%,
    292px 31%,
    298px 5%,
    304px 41%,
    310px 6%,
    314px 38%,
    319px 1%,
    323px 32%,
    327px 10%,
    334px 27%,
    338px 14%,
    345px 31%,
    352px 4%,
    356px 26%,
    361px 13%,
    365px 33%,
    369px 8%,
    374px 43%,
    381px 13%,
    385px 32%,
    389px 6%,
    393px 44%,
    399px 3%,
    405px 44%,
    412px 12%,
    418px 25%,
    422px 13%,
    427px 45%,
    433px 2%,
    439px 25%,
    443px 3%,
    449px 38%,
    454px 9%,
    459px 37%,
    463px 1%,
    468px 38%,
    474px 3%,
    479px 33%,
    484px 4%,
    488px 39%,
    492px 2%,
    497px 29%,
    504px 5%,
    509px 30%,
    514px 10%,
    518px 34%,
    522px 11%,
    527px 32%,
    533px 11%,
    537px 28%,
    543px 15%,
    547px 36%,
    552px 5%,
    559px 44%,
    566px 12%,
    571px 28%,
    578px 7%,
    582px 30%,
    586px 7%,
    590px 34%,
    594px 7%,
    599px 29%,
    606px 6%,
    613px 43%,
    617px 9%,
    622px 31%,
    628px 6%,
    634px 35%,
    641px 9%,
    645px 26%,
    652px 8%,
    658px 35%,
    662px 14%,
    667px 33%,
    672px 15%,
    677px 28%,
    682px 7%,
    686px 27%,
    693px 4%,
    698px 42%,
    702px 7%,
    706px 34%,
    711px 7%,
    716px 33%,
    721px 5%,
    726px 42%,
    733px 11%,
    740px 40%,
    744px 10%,
    751px 35%,
    755px 6%,
    760px 41%,
    766px 12%,
    773px 25%,
    780px 5%,
    784px 37%,
    788px 3%,
    795px 35%,
    799px 4%,
    806px 30%,
    812px 10%,
    817px 39%,
    821px 7%,
    828px 35%,
    833px 4%,
    837px 36%,
    841px 7%,
    845px 31%,
    849px 7%,
    856px 39%,
    861px 12%,
    866px 30%,
    872px 7%,
    878px 31%,
    883px 6%,
    887px 30%,
    891px 6%,
    898px 34%,
    904px 8%,
    908px 25%,
    914px 5%,
    920px 34%,
    925px 2%,
    931px 41%,
    938px 9%,
    943px 35%,
    949px 2%,
    955px 44%,
    960px 1%,
    967px 25%,
    974px 2%,
    981px 29%,
    988px 4%,
    995px 30%,
    1001px 7%,
    1007px 44%,
    1011px 1%,
    1017px 37%,
    1024px 6%,
    1029px 39%,
    1035px 3%,
    1041px 35%,
    1047px 7%,
    1053px 38%,
    1057px 8%,
    1061px 37%,
    1067px 8%,
    1071px 35%,
    1076px 15%,
    1080px 34%,
    1085px 14%,
    1090px 31%,
    1096px 10%,
    1103px 36%,
    1109px 15%,
    1116px 37%,
    1122px 7%,
    1128px 40%,
    1132px 6%,
    1136px 25%,
    1143px 11%,
    1147px 40%,
    1151px 7%,
    1156px 37%,
    1163px 3%,
    1169px 26%,
    1174px 5%,
    1178px 33%,
    1183px 4%,
    1187px 30%,
    1194px 4%,
    1198px 40%,
    1204px 2%,
    1209px 29%,
    1216px 5%,
    1221px 42%,
    1228px 13%,
    1235px 40%,
    1240px 5%,
    1244px 29%,
    1250px 13%,
    1254px 29%,
    1258px 7%,
    1262px 42%,
    1269px 5%,
    1273px 38%,
    1277px 9%,
    1284px 32%,
    1289px 7%,
    1295px 33%,
    1300px 8%,
    1307px 38%,
    1311px 2%,
    1315px 41%,
    1319px 3%,
    1323px 39%,
    1327px 13%,
    1333px 42%,
    1340px 3%,
    1347px 37%,
    1354px 2%,
    1359px 26%,
    1365px 11%,
    1371px 31%,
    1378px 6%,
    1383px 32%,
    1388px 2%,
    1394px 45%,
    1401px 6%,
    1407px 30%,
    1413px 6%,
    1420px 28%,
    1424px 9%,
    1431px 40%,
    1437px 9%,
    1444px 44%,
    1449px 11%,
    1454px 36%,
    1459px 8%,
    1465px 32%,
    1472px 15%,
    1477px 35%,
    1481px 13%,
    1487px 36%,
    1491px 14%,
    1497px 28%,
    1501px 6%,
    1507px 33%,
    1514px 5%,
    1520px 31%,
    1527px 7%,
    1533px 30%,
    1540px 3%,
    1546px 30%,
    1550px 11%,
    1556px 29%,
    1560px 6%,
    1564px 29%,
    1570px 1%,
    1577px 37%,
    1581px 4%,
    1585px 32%,
    1591px 9%,
    1595px 44%,
    1599px 11%,
    1606px 35%,
    100% 42%,
    100% 100%
  );
  animation: slideOut 1.2s ease-in-out 1 normal forwards;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.label {
  width: 50px;
  height: 26px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  position: absolute;
  top: 20px;
  left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.fa-tree {
  color: #28960d;
}

.fa-water {
  color: #0047cc;
}

.ball {
  height: 22px;
  width: 24px;
  background-color: rgb(97, 94, 94);
  position: absolute;
  top: 2px;
  left: 1px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
